#-----------------------------------------------------------------------------
# Core supervisor configuration
#-----------------------------------------------------------------------------
[supervisord]
nodaemon=true
loglevel=warn
logfile=/dev/null
logfile_maxbytes=0
pidfile=/tmp/supervisord.pid
childlogdir=/tmp

#-----------------------------------------------------------------------------
# Local process management interface
#-----------------------------------------------------------------------------
[unix_http_server]
file = __SUPERVISOR_SOCKET__
chmod = 0600

#-----------------------------------------------------------------------------
# RPC Interfaces
#-----------------------------------------------------------------------------
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl = unix://__SUPERVISOR_SOCKET__

#-----------------------------------------------------------------------------
# Managed services
#-----------------------------------------------------------------------------
[program:core]
command=python -u -m core.main --stay-alive
environment=PYTHONPATH=/app
directory=/app
autostart=true
autorestart=true
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0

[program:ui]
command=uvicorn ui.backend.main:app --host 0.0.0.0 --port 8501 --log-level warning
environment=PYTHONPATH="/app"
directory=/app
autostart=true
autorestart=true
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
